<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
      
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">TreatMonIt</a>
    </nav>
    <div class="container pt-4">
        {% block body %}
        {% endblock %}
    </div>
    <script>
        $(document).ready( function () {
            $('#myTable').DataTable({
            "aLengthMenu":[[3,5,10,25,-1], [3,5,10,25,"ALL"]],
            "iDisplayLength":3
        });
    } );
    </script>


    
  </body>
</html>
